<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Graficos Dinamicos con Angular</h1>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-md-12">
      <app-line></app-line>
    </div>
  </div>

  <hr>

  <div class="row mt-3">
    <div class="col-md-12">
      <app-bar></app-bar>
    </div>
  </div>

  <hr>

  <div class="row mt-3">
    <div class="col-md-12">
      <app-doughnut></app-doughnut>
    </div>
  </div>

  <hr>

  <div class="row mt-3">
    <div class="col-md-12">
      <app-radar></app-radar>
    </div>
  </div>
</div>
